$color_rojo:        #FF173A
$color_amarillo:    #FFC600
$color_negro:       #000000
$color_blanco:      #ffffff
$color_gris:        #2A434A

$fuente_principal:  'Bariol Regular'

@import fonts

@keyframes fadeIngrid
    0%
        opacity: 0
        transform: translateY(20px)
    100%
        opacity: 1
        transform: translateY(0)

*
    font-weight: 100

body
    font-size: 1.6rem
    font-family: $fuente_principal
    color: $color_amarillo
    line-height: 1
    letter-spacing: 1px

@media all and (min-width: 1px)
    .logo
        position: fixed
        top: 0
        left: 4%
        width: 20vw
        z-index: 99
    .menu_tool
        position: fixed
        bottom: 20vh
        right: 0
        z-index: 99
        width: 13vw
        // cursor: pointer
        .right_bar
            position: fixed
            top: 0
            bottom: 0
            right: -15vw
            width: 15vw
            transition: all ease-in-out .4s
            .team
                background-color: $color_amarillo
                width: 15vw
                height: 15vw
                position: fixed
                margin: 0
                top: 0
                span
                    display: block
                    width: 100%
                    color: $color_rojo
                    transition: all ease-in-out .4s
            .team:hover
                background-color: $color_rojo
                span
                    color: $color_amarillo
                    transition: all ease-in-out .4s

            a
                width: 100%
                text-align: center
                margin: 2vh 0
                svg
                    height: 1.5vw
                    transition: all ease-in-out .4s
                    path
                        transition: all ease-in-out .4s
            a:hover
                svg
                    transition: all ease-in-out .4s
                    path
                        transition: all ease-in-out .4s
                        fill: $color_amarillo
    .menu_tool:hover
        .right_bar
            right: 0


    .logo,
    .menu_tool
        img
            width: 100%

    .oculta_movil
        display: none

    #home
        position: relative
        margin-top: 0

    .slider_home
        width: 100%
        background-color: $color_negro
        .slide
            height: 100vh
            background-position: center center
            background-size: 100%
            background-repeat: no-repeat

    .fondo_rojo
        background-color: $color_rojo
    .fondo_amarillo
        background-color: $color_amarillo

    .about
        position: relative
        z-index: 2
        img
            width: 50%
            height: auto
        p
            font-size: 1.8rem
            text-align: center
            width: 70%
            margin-top: 5vh

    .portafolio
        position: relative
        min-height: 100vh
        height: auto
        display: grid
        grid-gap: 0
        grid-template-columns: repeat(6, 1fr)
        grid-template-rows: repeat(36, 55vw)
        .trabajo
            position: relative
            // border: 1px solid black
            transition: all ease-in-out .4s
            grid-column: span 6
            .texto_fijo
                position: absolute
                right: 0
                top: 0
                bottom: 0
                width: 43%
                height: 100%
                margin: auto
                z-index: 90
                a
                    background-color: rgba($color_amarillo, 0)
                    color: $color_amarillo
                    border-radius: 20px
                    border: 2px solid $color_amarillo
                    display: block
                    margin: 0
                    width: 7vw
                    min-width: 110px
                    text-align: center
                    margin-top: 2vh
                    padding: .7vh 0
                    font-size: 2.2rem
                a:hover
                    background-color: $color_amarillo
                    color: $color_blanco
            article
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background-color: rgba($color_negro, .85)
                opacity: 0
                transition: all ease-in-out .4s
                h3,
                h4
                    width: 100%
                    font-weight: 100
                    text-align: center
                    color: $color_blanco
                    margin: 0
                    opacity: 0
                h3
                    font-size: 4rem
                h4
                    margin-top: 2vh
                    font-size: 1.5rem
                a
                    background-color: $color_amarillo
                    color: $color_rojo
                    border-radius: 20px
                    border: 2px solid $color_amarillo
                    display: block
                    margin: 0 auto
                    width: 7vw
                    min-width: 110px
                    text-align: center
                    margin-top: 2vh
                    padding: .7vh 0
                    font-size: 2.2rem
                    opacity: 0
                a:hover
                    background-color: rgba($color_amarillo, 0)
                    color: $color_blanco
            article:hover
                transition: all ease-in-out .4s
                opacity: 1
                h3,
                h4,
                a
                    animation-name: fadeIngrid
                    animation-duration: .4s
                    animation-iteration-count: 1
                    animation-timing-function: ease-in-out
                    animation-direction: normal
                    animation-fill-mode: forwards
                    animation-delay: .3s
                h4
                    animation-delay: .4s
                a
                    animation-delay: .5s

            .infoor
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
                    opacity: 0
                    transition: all ease-in-out .4s
                    p
                        font-size: 2.2rem
                        color: $color_rojo
                        display: block
                        width: 80%
                        text-align: center
                        margin: 1vh 0
                        span
                            text-align: center
                            display: block
                            width: 100%
                            font-size: 1.7rem
            .infoor:hover
                transition: all ease-in-out .4s
                opacity: 1

            .fondo_rojo
                p
                    color: $color_amarillo
        .trabajo:first-child,
        .trabajo:nth-child(4),
        .trabajo:nth-child(11),
        .trabajo:nth-child(12),
        .trabajo:nth-child(20),
        .trabajo:nth-child(6),
        .trabajo:nth-child(16),
        .trabajo:nth-child(19),
        .trabajo:nth-child(8),
        .trabajo:nth-child(17),
        .trabajo:nth-child(18),
        .trabajo:nth-child(10),
        .trabajo:nth-child(3)
            grid-row: span 2

        .trabajo:nth-child(2),
        .trabajo:nth-child(5),
        .trabajo:nth-child(13),
        .trabajo:nth-child(21),
        .trabajo:nth-child(14),
        .trabajo:nth-child(15),
        .trabajo:nth-child(22),
        .trabajo:nth-child(23),
        .trabajo:nth-child(7),
        .trabajo:nth-child(9)
            grid-row: span 1

    .image_port
        background-size: 100%
        background-position: center
        background-repeat: no-repeat

    .slider_portafolio
        margin-bottom: 0
        position: absolute
        top: 0
        bottom: 0
        width: 100%
        height: 100%
        left: 0
        right: 0
        .image_port
            display: flex
            // background-color: cyan
        .slick-dots
            bottom: 0
            top: 0
            margin: auto 0
            left: 2%
            width: 3vw
            height: 100%
            display: flex
            z-index: 80
            li
                display: block
                width: 100%
                height: 2vw
                button
                    width: .7vw
                    height: .7vw
                    margin: auto
                    position: relative
                button::before
                    margin: auto
                    right: 0
                    color: rgba(0,0,0,0)
                    border-radius: 50%
                    border: 2px solid $color_rojo
                    opacity: 1
                    width: .7vw
                    height: .7vw
            .slick-active
                button::before
                    opacity: 1
                    background-color: $color_amarillo
                    border-color: $color_amarillo
                    // color: $color_amarillo
                    width: .7vw
                    height: .7vw

    .contact
        position: relative
        z-index: 100
        form
            width: 70%
            label
                font-size: 1.8rem
                border-bottom: 1px solid $color_amarillo
                padding: 2vh 0
                width: 100%
                display: block
                input[type="text"],
                input[type="password"],
                input[type="email"],
                input[type="date"],
                input[type="number"],
                select,
                textarea
                    background-color: rgba($color_rojo, 0)
                    margin-left: 1vw
                    border: none
                    color: $color_blanco
                    font-size: 1.6rem
                    width: 100%
                    padding: 0

            input[type="submit"]
                width: 100%
                margin-top: 3vh

            aside
                width: 100%
                margin-top: 3vh
                display: block
                text-align: center
                a
                    display: inline-block
                    margin: 0 3vw
                    svg
                        height: 5vh

            .no-border
                border-bottom: 0
            textarea
                width: 80%
                background-color: rgba($color_rojo, 0)
                width: 100%
                border: none
                border-bottom: 1px solid $color_amarillo
                color: $color_blanco
                font-size: 1.5rem
                padding: 1vh 1vw
    .boton
        background-color: $color_amarillo
        color: $color_rojo
        border-radius: 10px
        padding: 1vh 0
        border: 2px solid $color_amarillo
        cursor: pointer
        font-size: 1.8rem
    .boton:hover
        background-color: $color_rojo
        color: $color_amarillo

    footer
        background-color: $color_gris
        font-size: 1.3rem
        padding: 3vh 0
        position: relative
        z-index: 101
        .up
            position: absolute
            z-index: 10
            right: 3vw
            top: -8vh
            width: 4vw
            img
                width: 100%
                margin: 0
        p
            text-align: center
            margin-right: 3vw
            margin-left: 3vw
        img
            margin-left: auto
            margin-right: auto
            margin-bottom: 2vh
            display: block
            height: 5vh

@media all and (min-width: 1024px)
    .logo
        left: 19%
        width: 6vw

    .oculta_movil
        display: initial

    .about
        img
            width: 25%
        p
            width: 50%
            font-size: 3.1rem

    .portafolio
        grid-template-rows: repeat(19, 50vh)

        .trabajo:first-child,
        .trabajo:nth-child(4),
        .trabajo:nth-child(11),
        .trabajo:nth-child(12),
        .trabajo:nth-child(20)
            grid-column: span 2
            grid-row: span 2

        .trabajo:nth-child(2),
        .trabajo:nth-child(5),
        .trabajo:nth-child(13),
        .trabajo:nth-child(21),
            grid-column: span 4
            grid-row: span 1

        .trabajo:nth-child(3),
        .trabajo:nth-child(14),
        .trabajo:nth-child(15),
        .trabajo:nth-child(22),
        .trabajo:nth-child(23)
            grid-column: span 2
            grid-row: span 1

        .trabajo:nth-child(6),
        .trabajo:nth-child(16),
        .trabajo:nth-child(19),
            grid-column: span 6
            grid-row: span 2

        .trabajo:nth-child(7),
        .trabajo:nth-child(9)
            grid-column: span 3
            grid-row: span 1

        .trabajo:nth-child(8),
        .trabajo:nth-child(17),
        .trabajo:nth-child(18)
            grid-column: span 3
            grid-row: span 2

        .trabajo:nth-child(10)
            grid-column: span 4
            grid-row: span 2

        .image_port
            background-size: 101%

    .menu_tool
        width: 4vw
        .right_bar
            width: 5vw
            .team
                background-color: $color_amarillo
                width: 5vw
                height: 5vw
                span
                    display: block
                    width: 100%


    .contact
        form
            width: 35%
            label
                display: flex
                font-size: 2.6rem
                padding: 0 1vw
                cursor: pointer
                input[type="text"],
                input[type="password"],
                input[type="email"],
                input[type="date"],
                input[type="number"],
                select,
                textarea
                    // background-color: red
                    width: 75%
                    font-size: 2rem
                    padding: 1vh 0
            textarea
                font-size: 1.8rem
            input[type="submit"]
                width: 50%
            aside
                width: 40%
                display: flex
                a
                    margin: 0
                    svg
                        transition: all ease-in-out .4s
                        path
                            transition: all ease-in-out .4s
                a:hover
                    svg
                        transition: all ease-in-out .4s
                        path
                            transition: all ease-in-out .4s
                            fill: $color_amarillo

            .no-border
                border-bottom: 1px solid $color_amarillo

    footer
        font-size: 1.3rem
        padding: 3vh 0
        p
            text-align: left
            margin-right: 3vw
            margin-left: 0
        img
            margin-left: 3vw
            margin-right: 0
            margin-bottom: 0
            height: 5vh
